<footer class="site-footer">
  
  <div class="wrapper">

    <!--     <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li><strong>{{ site.title }}</strong></li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.google_scholar_id %}
          <li>
            <a href="https://scholar.google.com/citations?user={{ site.google_scholar_id }}">
              <i class="ai ai-google-scholar" style="color:gray"></i> Google Scholar
            </a>
          </li>
          {% endif %}
          
          {% if site.github_username %>
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <i class="fa fa-github" style="color:gray"></i> Github
            </a>
          </li>
          {% endif %}
            
          {% if site.orcid_id %}
          <li>
            <a href="https://orcid.org/{{ site.orcid_id }}">
              <i class="ai ai-orcid" style="color:gray"></i> ORCID
            </a>
          </li>
          {% endif %}
  
          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <i class="fa fa-twitter" style="color:gray"></i> Twitter
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <!-- {% for tongue in site.languages %}
            <a {% if tongue == site.active_lang %}style="font-weight: bold;"{% endif %} href="{% if tongue == site.default_lang %} {{site.baseurl}}{{page.url}} {% else %} {{site.baseurl}}/{{ tongue }}{{page.url}} {% endif %}">{{ tongue }}</a> |
            {% endfor %} -->
      </div>

    </div>

  </div>

</footer>
