<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
    </head>
  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer-svm.html %}
  </body>

</html>
